.filtergroupcontainer{
  margin: 0px;
  padding: 0px 0px;
  
  button {
  text-align: left;
  position: relative;
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
  width: 100%;
    &::before{
      content:"\2212";
      position: absolute;
      right: 5px;
    }
  }


  .filtergroup_expanded {
    &::before{
      content:"\002B";
    }
  }
}