.titleInput {
  font-size: 49px;
  width: auto;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
}


.page{
  width: 1100px;
  margin: auto;
}

.SectionAddRecipeButton{
  margin-top: 10px;
  margin-bottom: 10px;
}

.SectionTitle{
  margin-top: 10px;
  margin-bottom: 10px;
}

.SectionUploadPhoto{
  margin-top: 10px;
  margin-bottom: 10px;
}

.SectionSecond{
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: row;
  //max-width: 900px;
}

.SubSectionIngredients{
  align-self: start;
  grid-column: 1;
}

.SubSectionDuration{
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;

  > h4 {
    margin-left: 14px;
  }
}

.SectionNutritionLabel{
  margin:auto;
  max-width: 1100px;
  display: flex;
  justify-content: center;
}