.btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background: rgb(199, 23, 23);
  color: white;
  border: none;
  
  &:hover {
    background: rgb(228, 49, 49);
  }
}

.body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 100%;
}


.left{
  padding: 0px;
  height: 100%;
  display: grid;
  grid-template-rows: 25% 50% 25%;
  justify-items: center;
}

.right{
  padding: 0px;
}

.title{
  padding: 0px;
  align-self: end;
  margin-bottom: 35px;
}
.image{
  padding: 0px;
}

.buttons{
  padding: 0px;
  align-self: start;
  margin-top: 22px;
  width: 288px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.closeBtn{
  float: right;
}