$radio-empty-color: grey;
$input-disabled-color: red;
$radio-border: grey; 
$input-background: green;
$secondary-color:#DFFBE5;

$input-OR-background: #FFFFFF;
$secondary-OR-color:#84BCC8;

$input-AND-background:#FFFFFF;
$secondary-AND-color:#44B839; 

$input-NOT-background:#FFFFFF;
$secondary-NOT-color:#DF6E6E; 

$input-disabled-solid-color: orange;

.checkboxContainer{
  .filledin {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 1px;
  }
  
  // Checkbox Styles
  .filledin {
    // Text Label Style
    + span{
      position: relative;
      padding-left: 23px;
      cursor: pointer;
      display: inline-block;
      height: 30px;
      line-height: 25px;
      font-size: .8rem;
      user-select: none;
    }
      // Focused styles
      &.tabbed:focus  + span:after {
        transform: scale(1);
        border: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(0,0,0,.1);
        background-color: rgba(0,0,0,.1);
      }
  }
  
  // Filled in Style
  .filledin {
    // General
    + span:after {
      border-radius: 2px;
    }
  
    + span:before,
    + span:after {
      content: '';
      left: 0;
      position: absolute;
      /* .1s delay is for check animation */
      transition: border .25s, background-color .25s, width .20s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
      z-index: 1;
    }
  
    // Focused styles
    &.tabbed:focus + span:after {
      border-radius: 2px;
      border-color: $radio-empty-color;
      background-color: rgba(0,0,0,.1);
    }
  
    &.tabbed:checked:focus + span:after {
      border-radius: 2px;
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  
  .NONE{
    + span:before {
      width: 0;
      height: 0;
      border: 3px solid transparent;
      left: 6px;
      top: 10px;
      transform: rotateZ(37deg);
      transform-origin: 100% 100%;
    }

    + span:after  {
      height: 12px;
      width: 12px;
      background-color: transparent;
      border: 2px solid $radio-empty-color;
      top: 2px;
      z-index: 0;
    }
  }
  .OR{
    + span:before {
      top: 6px;
      left: 3px;
      width: 6px;
      height: 1px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 2px solid $input-OR-background;
    }

    + span:after {
      top: 2px;
      width: 12px;
      height: 12px;
      border: 2px solid $secondary-OR-color;
      background-color: $secondary-OR-color;
      z-index: 0;
    }
  }
  .AND{
    + span:before {
      top: 4px;
      left: 1px;
      width: 3px;
      height: 8px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid $input-AND-background;
      border-bottom: 2px solid $input-AND-background;
      transform: rotateZ(37deg);
      transform-origin: 100% 100%;
    }

    + span:after {
      top: 2px;
      width: 12px;
      height: 12px;
      border: 2px solid $secondary-AND-color;
      background-color: $secondary-AND-color;
      z-index: 0;
    }
  }
  .NOT{
    + span:before {
      top: 0px;
      left: 11px;
      width: 0px;
      height: 11px;
      border-top: 2px solid transparent;
      border-left: 2px solid $input-NOT-background;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      transform: rotateZ(-37deg);
      transform-origin: 100% 100%;
    }

    + span:after {
      top: 2px;
      width: 12px;
      height: 12px;
      border: 2px solid $secondary-NOT-color;
      background-color: $secondary-NOT-color;
      z-index: 0;
    }
  }

}