.myButton {
  background-color:#ffffff;
  border-radius:6px;
  display:inline-block;
  height: 38px;
  cursor:pointer;
  //padding:3px 17px;
  text-decoration:none;
  border: 2px solid #FFFFFF;
  color:#000000;
  font-family:"Roboto-Regular";
  font-size:18px;
  text-decoration:none;
  text-align: center;
  //max-width: 132px;
  width: 126px;
}

.request_recipes{
  height: 38px;
  background-color: #D9DEDF;
}

.request_recipes_enabled{
  height: 38px;
  background-color: #63DDF8;
}

.signin{
  max-width: 132px;
  height: 38px;
  font-size: 22px;
}

.confirm{
  background-color: #07BC03;
  color: #ffffff;
  font-weight: 600
}

.secondary{
  background-color:#A9A9A9;
  color: #ffffff;
  font-weight: 600
}

.add{
  background-color: #009873;
  color: #ffffff;
  font-weight: 600
}
/* .myButton:hover {
  background-color:#e42fa85d;
} */


/* .myButton:active {
  position:relative;
  top:1px;
} */