.mealfiltercontainer{
  margin: 0px;
  padding: 0px 0px;
  
  button {
    text-align: left;
    position: relative;
    border: none;
    background: transparent;
    color: black;
    cursor: pointer;
    width: 100%;
    &::before{
      content:"\2212";
      position: absolute;
      right: 5px;
    }
  }

  label {
    display: block;
    font-size: 12px;

    //background-color:grey;
    margin: 4px 0px 0px 0px;
  }
}


