.mealfiltercontainer{
  margin: 0px;
  padding: 0px 0px;
  
  button {
    text-align: left;
    position: relative;
    border: none;
    background: transparent;
    color: black;
    cursor: pointer;
    width: 100%;
    &::before{
      content:"\2212";
      position: absolute;
      right: 5px;
    }
  }

  
  label {
  display: block;
  font-size: 12px;
  //background-color:grey; 
  }
  
  .filterinput {
    position: relative;
    margin: 0px 0px 9px 0px;
    padding-left: 20px;
    align-content: center;
    cursor: pointer;
    //border: solid;
    

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    .checkmark{
      position: absolute;
      top: 0;
      left: 0px;
      height: 18px;
      width: 18px;
      border: solid;
      border-width: thin;
    }
  }




}





