.containergrid {
  display: grid;
  padding: 0px;
  margin: 0px 61px;
  grid-template-columns: 1fr 7fr;
  align-items:stretch;
}

.item1 {
  grid-column: 1;
  grid-row: 1/12;
  //border-style: solid;
  //background-color: blue;
  margin: 30px 10px;
  padding: 0px;  
}

.item2 {
  grid-column: 2;
  grid-auto-rows: 3fr;
  //border-style: solid;
  //background-color: red;
  margin: 30px;
  padding: 0px; 
  max-width: 1400px;
}

/* 

.item3 {
  grid-column: 1;
  grid-row: 1;
  background-color: orange;
}

.item4 {
  grid-column: 5;
  grid-row: 5;
  background-color: brown;
}
.item5 {
  grid-column: 2;
  grid-row: 5;
  background-color: blue;
  justify-content: left;
}

.item6 {
  grid-column: 4;
  grid-row: 5;
  background-color: green;
} 


.item7 {
  grid-column: 7;
  grid-row: 4;
  background-color: yellow;
}

*/